git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
gui:
  theme:
    lightTheme: false
    activeBorderColor:
      - green
      - bold
    inactiveBorderColor:
      - white
